spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT
    username: root
    password: wuyou68762
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 5
      max-active: 15
      min-idle: 5
      max-wait: 60000
      validationQuery: SELECT 1
      web-stat-filter:
        enabled: true
        url-pattern: "/*"
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"
      stat-view-servlet:
        url-pattern: "/druid/*"
        allow: 127.0.0.1
        # 登录名
        login-username: admin
        # 登录密码
        login-password: 123456
        enabled: true
  thymeleaf:
    cache: false
mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
regCenter:
  serverList: 127.0.0.1:2181
  namespace: elasticjob
server:
  port: 8898